{
  "presets": [
      [ "env",
          {
              "modules": false,
              "useBuiltIns": "usage"
          }
      ],
      "react",
      "jest"
  ],
  "env": {
      "dev": {
          "presets": ["react"],
          "plugins": [
              "babel-plugin-styled-components",
              "transform-es2015-modules-commonjs"
            ]
      },
      "production": {
        "presets": ["react"],
        "plugins": [
            "babel-plugin-styled-components",
            "transform-es2015-modules-commonjs"
          ]
    }
  }
}
